<h1>Restaurant</h1>
<h2><%= @restaurant.name %></h2>
<p>address: <%= @restaurant.address %></p>
<p>contact: <%= @restaurant.phone_number %></p>
<p>category: <%= @restaurant.category %></p>
<p><%= link_to "< back", restaurants_path %> - <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-warning"%></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> - rating: <%= review.rating %>/5</li>
  <% end %>
</ul>



